.about {
    margin-top: 100px;
}

.about-title {
    display: grid;
    grid-template-columns: 10% 1fr;
}

.main-header {
    grid-column: 2/3;
    font-size: 5rem;
    font-family: var(--main-font);
    color: var(--black);
    font-weight: 300;
}

.about-section {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
}

.about-text {
    grid-column: 2/3;
}

.about-img {
    grid-column: 3/4;
}