.about {
    margin-top: 100px;
    font-family: var(--main-font);
    min-height: 100vh;
}

.about-title {
    display: grid;
    grid-template-columns: 10% 1fr;
}

.main-header {
    grid-column: 2/3;
    font-size: 8rem;
    color: var(--black);
    font-weight: 300;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6rem;
}

.about-text {
    margin-left: 10%;
    max-width: 35rem;
    color: var(--text);
    font-size: 18px;
    line-height: 2;
}

.about-img {
    margin-right: 10%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}