.contact {
    font-family: var(--main-font);
    min-height: 100vh;
}

.contact-layout {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 9rem;  
}

.contact-item {
    color: var(--darkgrey);
    background-color: var(--lightgrey);
    font-size: 20px;
    text-align: center;
    min-width: 14rem;
    min-height: 14rem;
    padding: 25px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.5s ease-in-out;
}

.contact-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

.contact-content {
    padding-top: 2.5rem
}


.contact-link {
    text-decoration: none;
    color: var(--darkgrey);
}