@import 'landing.css';
@import 'about.css';
@import 'skills.css';

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap');

:root {
    --lightgrey: rgb(243, 243, 243);
    --black: #252422;
    --main-font: 'Muli', sans-serif;
    --text: #889696;;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}