.skills {
    font-family: var(--main-font);
    min-height: 100vh;
}

.skill-table {
    width: 100%;
    margin-top: 3rem;
}

.skill-header {
    font-size: 25px;
    color: rgb(121, 121, 121);
}

.skill-header-item {
    padding: 5px 10px 5px 10px;
}

.skill-row {
    text-align: center;
}

.skill-item {
    color: rgb(121, 121, 121);
    font-size: 18px;
    background-color: var(--lightgrey);
    padding: 25px 50px 25px 50px;
    transition: background-color .8s ease-out;
}

.skill-item:hover {
    background-color: rgb(228, 228, 228);;
}